body{
    background-color: black;
    font-family:sans-serif;
}
header{
    display:block;
    background-color:lightgray;
    border-radius: 5px;
}
div#a {
    text-align: center;
    color:#c98758; 
}
h1 {
    font-size: 60px;
    color:#c98758;
}
h2{
    font-size:40px;
    color:#c98758;
}
h3 {
    font-size:45px;
    color:#c98758;
}
button{
    background-color:black;
    border-radius:5px;
    color:#c98758;
    width:200px;
    height:100px;
    font-size: 25px;
}
.header{
    display:inline;
    color:#c98758;
    margin-left:100px;
}
footer{
    display:block;
    margin-top:100px;
    background-color:lightgray;
    border-radius: 5px;
}
label{
color: #c98758;
}
input{
    margin-top:50px;
}
p{
color:#c98758;
}
.center{
    text-align: center;
}
.side-margin{
    margin-left: 200px;
    margin-right:200px;
}
ul{
    color:#c98758;
}